.groupActionsWrapper {
  width: 100%;
  color: var(--text-primary);
  padding-right: 12.5rem;
  padding-left: 12.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: 0rem;
  gap: 1rem;

  @media (max-width: 110em) {
    padding-right: 8.5rem;
    padding-left: 8.5rem;
  }

  @media (max-width: 90em) {
    padding-right: 6.5rem;
    padding-left: 6.5rem;
  }

  @media (max-width: 75em) {
    padding-right: 5rem;
    padding-left: 3.7rem;
  }

  @media (max-width: 67.5em) {
    padding-right: 5rem;
    padding-left: 5rem;
    flex-direction: column;
    margin-bottom: 3rem;
  }

  @media (max-width: 50em) {
    padding-right: 1.8rem;
    padding-left: 2rem;
  }
}

.groupActionsButtonWrapper {
  position: relative;
  height: 3rem;
  @media (max-width: 500px) {
    width: 15rem;
  }
}
.groupActionsButtonsWrapper {
  display: flex;
  gap: 1.4rem;
  @media (max-width: 1150px) {
    gap: 1.4rem;
  }
  @media (max-width: 1080px) {
    margin-top: 1rem;
  }
  @media (max-width: 500px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.estimatedTimeWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  border-radius: 8px;
  padding: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  transition: 0.1s;

  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0, 0);
  &:hover {
    border-color: var(--border-main);
    background: rgba(255, 255, 255, 0.01);
  }
  margin-left: -1.1rem;
}

.estimatedTimeIcon {
  padding-top: 0.2rem;
  color: var(--icon-gray);
}

.showOnlySelectedWrapperDesktop {
  display: none;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.15rem;
  font-size: 0.95em;
  @media (min-width: 501px) {
    display: flex;
  }
}

.showOnlySelectedWrapperMobile {
  display: none;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.15rem;
  font-size: 0.95em;
  @media (max-width: 501px) {
    display: flex;
  }
}

.groupActionsDropdownWrapper {
  position: absolute;

  right: 0rem;
  z-index: 999;
  width: 11.5rem;
  height: fit-content;
  @media (max-width: 501px) {
    width: 15rem;
  }
}

.groupActionsDropdownTop {
  bottom: 3.4rem;
}
.groupActionsDropdownBottom {
  top: 3.4rem;
}

.pomodoroModal {
  text-align: center;
  padding: 2rem;
  width: 24rem;
  background-color: var(--bg-modal);
  color: #ffffff;
  border-radius: 12px;

  @media (max-width: 768px) {
    width: 100vw;
  }

  h2 {
    margin-top: 1rem;
    color: var(--text-primary);
    @media (max-width: 768px) {

      margin-top: 6vh;
    }
  }

  .timerWrapper {
    position: relative;
    width: 15rem;
    height: 15rem;
    margin: 0 auto 1.5rem;
    margin-top: 2rem;
  }

  .progressRing {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
    pointer-events: none;
  }

  .backgroundBar {
    opacity: 0.2;
  }
  .backgroundBar,
  .progressBar {
    pointer-events: none;
  }
  .progressBar {
    transition: stroke-dashoffset 0.3s;
  }

  .timerContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
    width: 7.5rem;
  }

  .timerDisplay {
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    cursor: pointer;
    gap: 0.05rem;
    color: var(--text-primary);
  }

  .sessionDisplay {
    font-size: 0.9rem;
    color: var(--text-secondary);
    margin-top: 0.5rem;
  }

  .timerMessage {
    font-size: 0.9rem;
    color: var(--text-secondary);
    margin-bottom: 2rem;
  }

  .timerControls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    button {
      border: none;
      cursor: pointer;
      padding: 0.5rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: var(--bg-timer-side-button-hover);
      }
    }

    .playPauseButton {
      background-color: var(--main-color);
      padding: 1rem;
      color: white;
      &:hover {
        background-color: var(--main-color-hover);
      }

      svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
.swapButton {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--bg-timer-side-button);
}
.resetButton {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--bg-timer-side-button);
}

.pinIcon {
  position: absolute;
  top: 6.2rem;
  right: 3rem;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}

.circularOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  background: rgba(0, 0, 0, 0);
  transition: 0.2s;
  z-index: 999999;
}
.circularOverlay:hover {
  background: var(--bg-timer-hover);
}
