/* Question.module.scss */

.questionWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--content-primary-text);
  padding: 0.3rem;
  min-height: 2rem;
  padding-left: 2.5rem;
  padding-right: 2.4rem;
  padding-top: 0rem;
  border-width: 1px;
  border-radius: 10px;
  cursor: pointer;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);

  &:hover {
    border-color: var(--border-question-hover);
    background: rgba(255, 255, 255, 0.01);

    @media (max-width: 50em) {
      &:hover {
        background-color: unset;
        border-color: rgba(0, 0, 0, 0);
      }
    }
  }

  @media (max-width: 50em) {
    padding-left: 1.7rem;
    padding-right: 1.7rem;
  }
}

.minHeightAnswerVisible {
  min-height: unset;
}

.minHeightAnswerNotVisible {
  min-height: 2rem;
}

.questionFirstRow {
  display: flex;
  align-items: center;
  padding: 0rem;
  padding-top: 1.5rem;
  padding-bottom: 1.4rem;
  justify-content: space-between;
  transition: 0.1s;
}

// Different left paddings for 1-9, 10-99 and 100+ questions, to keep it in line
.paddingSmall .questionFirstRow {
  padding-left: 1.3rem;
}

.paddingMedium .questionFirstRow {
  padding-left: 2rem;
}

.paddingLarge .questionFirstRow {
  padding-left: 2.5rem;
}

.questionText {
  font-size: 1.2rem;
  letter-spacing: 0.2px;
  margin-bottom: -0.3rem;
  padding-right: 5rem;

  @media (max-width: 67.5em) {
    padding-right: 3rem;
  }

  @media (max-width: 1280px) {
    font-size: 1.05rem;
  }
}

.checkboxWrapper {
  display: flex;
  cursor: pointer;
  width: 1.4rem;
  height: 1.4rem;
  margin-top: 0.2rem;
  border-color: var(--content-checkbox-border);
  border-style: solid;
  border-width: 1px;

  &:hover {
    border-color: var(--content-checkbox-border-hover);
  }
}

.checkboxIcon {
  display: flex;
  color: var(--content-primary-text);
  font-size: 1rem;
  position: absolute;
  left: 0.35rem;
  top: 0.2rem;
}

.answer {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.1);
  align-items: flex-start;
  padding-left: 1.5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  line-height: 25px;
  margin-left: 0rem;
  cursor: default;
  gap: 0.6rem;
  margin-right: 0rem;
  border-radius: 6px;
  margin-top: 0.3rem;
  position: relative;
  padding-right: 1.4rem;
  border-color: var(--content-main-border);
  color: var(--content-primary-text);
  margin-bottom: 1.5rem;
  @media (max-width: 1280px) {
    font-size: 0.9rem;
  }

  @media (max-width: 30em) {
    font-size: 0.9rem;
  }
  background: var(--bg-answer);
}
