.questionListWrapper {
  width: 100%;
  height: calc(100vh - 4.5rem);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
  overflow-x: hidden;
  padding-right: 2rem;
  padding-left: 2rem;

  @media (max-width: 50em) {
    padding-right: 1rem;
    padding-left: 1rem;
    height: calc(100vh - 3rem);
  }

  @media (max-width: 40em) {
    padding-right: 0rem;
    padding-left: 0rem;
    padding-bottom: 2rem;
  }
}

.questionList {
  margin-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  padding-right: 10rem;
  padding-left: 10rem;

  @media (max-width: 110em) {
    padding-right: 6rem;
    padding-left: 6rem;
  }

  @media (max-width: 90em) {
    padding-right: 4rem;
    padding-left: 4rem;
  }

  @media (max-width: 75em) {
    padding-right: 2.5rem;
    padding-left: 1.5rem;
  }

  @media (max-width: 67.5em) {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }

  @media (max-width: 50em) {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}
