.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modalContent {
  background-color: var(--bg-modal);
  border-radius: 10px;
  border: 1px solid var(--border-modal);
  position: absolute;
  overflow: auto;
  transition: box-shadow 0.2s ease-in-out;
  z-index: 10000; 
  @media (max-width: 768px) {
    border-radius: 0px;
    height: 100%;
  }
}

.centerOutline {
  position: absolute;
  border: 2px dashed rgba(255, 255, 255, 0.5);
  pointer-events: none;
  z-index: 9999;
}

.closeButton {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.1s;
  color: white;
  &:hover {
    transform: scale(1.1);
  }
}
