.dark { 
  --main-color: rgb(139, 135, 251);
  --main-color-hover: rgb(147, 143, 250);
  --bg-main-darker: rgb(48, 48, 48);
  --bg-main-darker-hover: rgba(255, 255, 255, 0.05);
  --bg-main-darker-hover2: rgba(255, 255, 255, 0.07);
  --bg-main-lighter: rgb(59, 59, 59);
  --bg-main-lighter-hover: #4d4f66;
  --bg-nav-option: rgba(200, 200, 200, 0.1);
  --bg-nav-option-hover: rgba(200, 200, 200, 0.05);
  --bg-nav-dropdown-hover: rgba(255, 255, 255, 0.1);
  --bg-answer: rgba(255, 255, 255, 0.03);
  --bg-answer-gradient: linear-gradient(
    177deg,
    rgba(65, 65, 65, 0.7) 0%,
    rgba(96, 96, 96, 0.4) 100%
  );
  --bg-answer-solid: rgba(48, 48, 48, 0.1);
  --bg-nav: rgb(48, 48, 48);
  --bg-scrollbar-thumb: rgb(255, 255, 255, 0.08);
  --bg-scrollbar-bg: rgba(209, 209, 209, 0.08);
  --border-question-hover: rgba(255, 255, 255, 0.2);
  --bg-loader: var(--bg-main-darker);
  --bg-dropdown: rgb(65,65,65);
  --bg-dropdown-row-hover: rgb(72, 71, 71);
  --bg-outlined-button-hover: rgba(255, 255, 255, 0.06);
  --bg-modal: rgb(57, 57, 57);
  --bg-modal-header: rgb(48, 48, 48);
  --bg-timer-hover: rgba(255, 255, 255, 0.07);
  --bg-transparent-hover: rgba(255, 255, 255, 0.05);
  --bg-timer-side-button: rgb(48, 48, 48, 0);
  --bg-timer-side-button-hover: rgb(212, 212, 212, 0.1);
  --bg-timer-gray-bar: rgb(255,255,255,0.3);

  --content-primary-text: white;
  --content-secondary-text: rgba(255, 255, 255, 0.7);
  --content-colored-text: rgb(139, 135, 251);
  --content-download-button-colored-text: rgb(139, 135, 251);
  --content-colored-text-hover: rgb(170, 167, 249);
  --content-gray-text-icons: rgba(255, 255, 255, 0.5);
  --content-gray-text-icons-hover: rgba(255, 255, 255, 0.7);
  --content-navigation-button-border: rgba(130, 130, 130, 0.13);
  --content-navigation-option-border: rgba(130, 130, 130, 0);
  --content-checkbox-border: rgba(255, 255, 255, 0.2);
  --content-checkbox-border-hover: rgba(255, 255, 255, 0.4);
  --content-main-border: rgba(255, 255, 255, 0.1);
  --content-colored-border: rgba(139, 135, 251, 0.8);
  --content-modal-border: rgba(255, 255, 255, 0.1);
  --content-navigation-wrapper-border: rgb(59, 59, 59);
  --content-modal-title: white;
  --content-modal-subtitle: rgba(255, 255, 255, 0.7);
  --content-modal-link: rgb(139, 135, 251);
  --content-modal-link-hover: rgb(164, 162, 242);
  --content-gray-icon: rgb(135, 135, 135);

  --icon-navigation-arrows: rgba(255, 255, 255, 0.2);
  --icon-navigation-arrows-hover: rgba(255, 255, 255, 0.6);
  --icon-last-nav-option-border: rgba(200, 200, 200, 0.1);
  --icon-gray-text-icons-hover: rgba(255, 255, 255, 0.7);
  --icon-navigation-button-border: rgba(255, 255, 255, 0);
  --icon-checkbox-border: rgba(255, 255, 255, 0.2);
  --icon-checkbox-border-hover: rgba(255, 255, 255, 0.4);
  --icon-main-border: rgba(255, 255, 255, 0.1);
  --icon-colored-border: rgba(139, 135, 251, 0.8);
}
