@import './mixins/midnightMixins';

.midnight {
  --main-color: rgb(114, 137, 218);
  --main-color-hover: rgb(133, 151, 230);

  --text-primary: #ffffff;
  --text-secondary: rgba(255, 255, 255, 0.6);
  --text-colored: var(--main-color);
  --text-colored-hover: rgb(133, 151, 230);
  --text-download-button-colored: var(--main-color);
  --text-modal-title: #ffffff;
  --text-modal-subtitle: rgba(255, 255, 255, 0.7);
  --text-modal-link: var(--main-color);
  --text-modal-link-hover: rgb(133, 151, 230);
  --text-navigation-category: rgba(255, 255, 255, 0.6);
  --text-timer-numbers: var(--text-primary);
  --text-console-input: #abb2bf;

  --bg-main-darker: rgb(255,255,255,0.01);
  --bg-main-darker-hover: rgba(255, 255, 255, 0.05);
  --bg-main-darker-hover2: rgba(255, 255, 255, 0.08);
  --bg-main-lighter: rgb(44, 47, 51, 0); 
  --bg-main-lighter-hover: #3b3e42;
  --bg-nav: rgb(255,255,255,0.01);
  --bg-nav-button-hover: rgb(255,255,255,0.03);
  --bg-nav-option: rgb(255,255,255,0.05);
  --bg-nav-option-hover: rgb(255,255,255,0.07);
  --bg-nav-expand-button-hover: rgb(255,255,255,0.04);
  --bg-nav-dropdown-hover: rgb(75, 79, 85);
  --bg-answer: rgba(255, 255, 255, 0.02);
  --bg-answer-solid: rgba(35, 39, 42, 0.1);
  --bg-question-hover: rgba(255, 255, 255, 0.01);
  --bg-scrollbar-thumb: rgba(244, 244, 244, 0.112);
  --bg-scrollbar-bg: rgba(27, 27, 27, 0.301);
  --bg-navigation-scrollbar-thumb: rgba(244, 244, 244, 0.112);
  --bg-navigation-scrollbar-bg: var(--bg-main-lighter);
  --bg-loader: var(--bg-main-darker);
  --bg-dropdown: rgba(246, 246, 246, 0.05);
  --bg-dropdown-row-hover: rgba(246, 246, 246, 0.09);
  --bg-outlined-button-hover: rgba(255, 255, 255, 0.06);
  --bg-modal: rgba(255, 255, 255, 0.06);
  --bg-modal-header: rgba(0, 0, 0, 0.1);
  --bg-timer-hover: rgba(255, 255, 255, 0.07);
  --bg-transparent-hover: rgba(255, 255, 255, 0.05);
  --bg-timer-side-button: rgba(255, 255, 255, 0.065);
  --bg-timer-side-button-hover: rgba(255, 255, 255, 0.132);
  --bg-timer-gray-bar: rgb(255, 255, 255, 0.3);
  --bg-settings: rgba(198, 215, 231, 0.13);
  --bg-settings-header: rgba(19, 19, 19, 0.25);
  --bg-switch-disabled: #676565;
  --bg-switch-disabled-hover: #767575;
  --bg-switch-enabled: var(--main-color);
  --bg-switch-enabled-hover: var(--main-color-hover);
  --bg-checkbox: rgba(0, 0, 0, 0.062);
  --bg-select-header: rgba(188, 193, 198, 0.079);
  --bg-select-header-hover: rgba(188, 193, 198, 0.113);
  --bg-contained-button: rgb(100, 120, 190);
  --bg-contained-button-hover: rgb(120, 140, 211);
  --bg-console-header: rgb(0,0,0,0.25);
  --bg-console-toggle: rgb(255,255,255,0.03);
  --bg-console-toggle-hover: rgb(255,255,255,0.07);
  --bg-code-snippet-button: rgb(255, 255, 255, 0.04);
  --bg-code-snippet-button-hover: rgb(255, 255, 255, 0.09);
  
  --border-navigation-button: rgba(120, 120, 120, 0.15);
  --border-navigation-option: rgba(120, 120, 120, 0);
  --border-checkbox: rgba(255, 255, 255, 0.2);
  --border-checkbox-hover: rgba(255, 255, 255, 0.4);
  --border-main: rgba(255, 255, 255, 0.1);
  --border-colored: var(--main-color);
  --border-modal: rgba(255, 255, 255, 0.1);
  --border-navigation-wrapper: rgb(44, 47, 51);
  --border-last-nav-option: rgba(55, 59, 64);
  --border-question-hover: rgba(255, 255, 255, 0.2);
  --border-timer-side-button: rgba(255, 255, 255, 0.1);
  --border-outlined-button-hover: rgb(68, 68, 68);
  
  --icon-gray: rgb(145, 145, 145);
  --icon-gray-lighter: rgb(230, 230, 230);
  --icon-gray-lighter-hover: white;
  --icon-navigation-arrows: rgba(255, 255, 255, 0.2);
  --icon-navigation-arrows-hover: rgba(255, 255, 255, 0.6);
  --icon-navigation-arrows-mobile: rgba(255, 255, 255, 0.2);
  --icon-hamburger: rgba(255, 255, 255, 0.5);
  --icon-hamburger-hover: rgba(255, 255, 255, 0.7);
  --icon-dropdown: rgba(255, 255, 255, 0.7);
  --icon-loader: rgba(255, 255, 255, 0.7);
  --icon-dots: rgba(255, 255, 255, 0.7);
  --icon-outlined-button: var(--text-primary);
  
  @include midnightAdditionalStyles;
  @include midnightCodeHighlighting
}
