@import "./charcoal";
@import "./snowlight";
@import "./nocturnal";
@import "./cyberpunk";
@import "./eclipse";
@import "./obsidian";
@import "./midnight";

html,
body {
  max-width: 100vw;
  background-color: var(--bg-main-darker);
  overflow: hidden;
}

/* Scrollbar styles for different browsers */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--bg-scrollbar-thumb);
    &:hover {
      background: rgb(255, 255, 255, 0.1);
    }
    border-radius: 30px;
    border: none;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

:root {
  scrollbar-color: var(--icon-scrollbar-bg) rgb(255, 255, 255, 0.05);
  // scrollbar-width: thin;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

::-webkit-input-placeholder {
  color: rgb(255, 255, 255, 0.4) !important;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--icon-scrollbar-bg);
  &:hover {
    background: var(--icon-scrollbar-bg);
  }
  border-radius: 30px;
  border: none;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

// option,
// optgroup {
//   -webkit-appearance: none !important;
// }

@-moz-document url-prefix() {
  // * {
  //   scrollbar-width: thin;
  //   scrollbar-color: var(--bg-scrollbar-thumb) var(--bg-scrollbar-bg);
  // }
  * {
    // scrollbar-width: thin;
    scrollbar-color: var(--bg-scrollbar-thumb) var(--bg-scrollbar-bg);
  }
}

#navigation {
  @-moz-document url-prefix() {
    // * {
    //   scrollbar-width: thin;
    //   scrollbar-color: var(--bg-scrollbar-thumb) var(--bg-scrollbar-bg);
    // }
    * {
      scrollbar-width: thin;
      scrollbar-color: var(--bg-navigation-scrollbar-thumb) var(--bg-navigation-scrollbar-bg);
    }
  }
}
#navigation *::-webkit-scrollbar-thumb {
  background: var(--bg-navigation-scrollbar-thumb) !important;
}

#navigation *::-webkit-scrollbar-thumb:hover {
  background: var(--bg-navigation-scrollbar-thumb) !important;
}

#navigation *::-webkit-scrollbar-track {
  background: transparent !important;
}

@-moz-document url-prefix() {
  #navigation {
    scrollbar-width: thin;
    scrollbar-color: var(--bg-navigation-scrollbar-thumb) var(--bg-navigation-scrollbar-bg);
  }
}


main {
  overflow: hidden;
}
// option,
// optgroup {
//   -webkit-appearance: none !important;
// }

// Hightlight.js basic styles
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
