.layoutWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 2rem;
  overflow: hidden;
  background-color: var(--bg-main-lighter);
}

.layoutContent {
  display: flex;
  margin-top: 4.5rem;
  overflow: hidden;
  width: 100%;
  position: relative;

  @media (max-width: 50em) {
    margin-top: 3rem;
  }
}

.overlay {
  display: flex;
  z-index: 99;
  position: fixed;
  top: 4.5rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.18);
  backdrop-filter: blur(5px);
  height: 100%;

  @media (min-width: 67.5em) {
    display: none;
  }

  
}

.loader {
  display: flex;
  width: 95%;
  height: 90%;
  justify-content: center;
  align-items: center;
}

.navigation {
  display: flex;
  z-index: 9999;
  transition: 0.2s;

  &.navigationVisible {
    width: 280px;
  }

  &.navigationHidden {
    width: 0;
  }

  @media (max-width: 1080px) {
    position: fixed;
    top: 4.5rem;
    left: 0;
    &.navigationVisible {
      width: 280px;
    }
    &.navigationHidden {
      width: 0;
    }
  }

  
}

.questionListWrapper {
  display: flex;
  background-color: var(--bg-main-lighter);
  border-color: var(--content-main-border);
  border-width: 0 0 0 0px;
  border-style: solid;
  transition: 0.2s width;
  height: 100vh;
  overflow-x: hidden;
  scrollbar-color: var(--bg-scrollbar-thumb) var(--bg-scrollbar-bg); 
  & main {
    width: 100%;
  }

  @media (max-width: 67.5em) {
    width: 100%;
  }
  &.questionListWrapperWithNav {
    width: 87%;
  }

  @media (max-width: 1080px) {
    &.questionListWrapperWithNav {
      width: 100%;
    }
  }
  &.questionListWrapperFullWidth {
    width: 100%;
  }
}

.questionListWrapper::-webkit-scrollbar {
  width: 10px !important;
  scrollbar-color: var(--bg-scrollbar-thumb) var(--bg-scrollbar-bg); 
}

.questionListWrapper::-webkit-scrollbar-track {
  background: var(--bg-scrollbar-bg) !important;
  scrollbar-color: var(--bg-scrollbar-thumb) var(--bg-scrollbar-bg); ;
}

.questionListWrapper::-webkit-scrollbar-thumb {
  background: var(--bg-scrollbar-thumb) !important;
  scrollbar-color: var(--bg-scrollbar-thumb) var(--bg-scrollbar-bg); 
}

.questionListWrapper::-webkit-scrollbar-thumb:hover {
  background: var(--bg-scrollbar-thumb) !important;
  scrollbar-color: var(--bg-scrollbar-thumb) var(--bg-scrollbar-bg); 
}