.arrowNavigation {
  position: fixed;
  right: 1.5rem;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0rem;
  transition: 0.2s;

  & svg {
    fill: var(--icon-navigation-arrows);
    height: 60px !important;
    width: 60px !important;
    transition: 0.2s;

    &:hover {
      fill: var(--icon-navigation-arrows-hover);
    }
  }

  @media (max-width: 110em) {
    right: 1rem;
  }

  @media (max-width: 80em) {
    right: 0.6rem;
  }

  @media (max-width: 67.5em) {
    display: none;
  }

  button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover svg {
      fill: var(--icon-navigation-arrows-hover);
    }
  }
}

.arrowNavigationMobile {
  position: fixed;
  width: 100vw;
  bottom: 0;
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0rem;
  transition: 0.2s;
  background-color: var(--bg-main-darker);
  z-index: 9999;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: var(--content-main-border);


  & svg {
    fill: var(--icon-navigation-arrows-mobile);
    height: 60px !important;
    width: 60px !important;
    transition: 0.2s;
    padding-top: 0rem;
  }

  @media (min-width: 1080px) {
    display: none;
  }

  button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    height: 100%;
    width: 25%;
    &:focus {
      outline: none;
    }
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: var(--content-main-border);
  }
}
.arrowNavigationMobile button:last-child {
  border-width: 0;
}
