.navigationWrapper {
  height: calc(100vh - 4.5rem);
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  background-color: var(--bg-nav);
  overflow: overlay;
  overflow-x: hidden;

  @media (max-width: 27em) {
    margin-right: 0;
  }
}

.navigationButtonWrapper {
  display: flex;
  width: 100%;
  border-color: var(--content-navigation-button-border);
  border-width: 0 1px 1px 0;
  border-style: solid;
  max-width: 100%;
  cursor: pointer;

  &:hover {
    background-color: var(--bg-nav-option-hover);
  }

  @media (max-width: 50em) {
    padding-right: 0;
    padding-left: 0;

    &:hover {
      background-color: rgba(0, 0, 0, 0);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0);
    }

    &:focus {
      background-color: rgba(0, 0, 0, 0);
    }
  }
}

.techNameButton {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  border-style: solid;
  border-color: rgb(0, 0, 0, 0);
  border-width: 0 0 0 5px;
  background: rgb(48, 48, 48, 0);
  height: 3.8rem;
  padding-right: 1rem;
  padding-left: 1.5rem;
  width: calc(100% - 4.5rem);
  cursor: pointer;

  &.active {
    border-color: var(--content-colored-border);
  }
}

.expandButton {
  width: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: rgb(48, 48, 48, 0);
  border: none;
  background: none;
  cursor: pointer;

  &:hover {
    background-color: var(--bg-nav-option-hover);
  }

  @media (max-width: 50em) {
    &:hover {
      background-color: rgb(0, 0, 0, 0);
    }
    &:active {
      background-color: rgb(0, 0, 0, 0);
    }
    &:focus {
      background-color: rgb(0, 0, 0, 0);
    }
  }
}

.techTextWrapper {
  height: 100%;
  width: calc(100% - 2rem);
  align-items: center;
  display: flex;
}

.techText {
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--content-secondary-text);

  @media (max-width: 67.5em) {
    padding-left: 0.7rem;
  }
}

.expandButtonArrow {
  width: 2rem;
  height: 100%;
  align-items: center;
  display: flex;

  & path {
    fill: var(--content-colored-border);
  }
  transition: transform 0.2s;
}

.optionsDropdown {
  position: relative;
  border-color: var(--icon-last-nav-option-border);
  border-width: 0 0 1px 0;
  border-style: solid;
  display: flex;
  flex-direction: column;
}
